<br>
<a href="/users/<%= current_user.id %>">Go back</a>

<h1>Secrets</h1>

<% @secrets.each do |secret| %>
        <p><%= secret.content %></p>
        <p><%= secret.likes.count %> like(s)</p>
        <% if current_user.secrets_liked.include? secret %>
            <form action="/likes/<%= secret.id %>" method="post">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <input type="hidden" name="_method" value="delete">
                <button type="submit">Unlike</button>
                <br>
            </form>
            <br>
        <% else %>
            <form action="/likes/<%= secret.id %>" method="post">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <button type="submit">Like</button>
                <br>
            </form>
            <br>
            <% end %>
    <% if current_user == secret.user %>
        <form action="/secrets/<%= secret.id %>" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="_method" value="delete">
            <button type="submit">Delete</button>
            <br>
        </form>
   
    <% end %>
<% end %>

