<h1>Listing <%= @dojos.count %> Dojos</h1>
<% if flash[:notice] %>
    <h5 style="color:green">
        <%= flash[:notice] %>
    </h5>
<% end %>
<style>
*{
    padding: 5px;
}
.table{
    padding: 10px;
    border: solid 2px black;
    font-weight: bold;
}
table{
    border: solid 2px black;
    width: 1250px;
}
#green{
    color: green;
}
</style>
<table >
    <thead>
        <th class="table">Coding Dojo Branch</th>
        <th class="table">Street</th>
        <th class="table">City</th>
        <th class="table">State</th>
        <th class="table">Actions</th>
    </thead>
        <% @dojos.each do |d| %>
    <tbody>
        <td> <%= d.branch %></td>
        <td> <%= d.street %></td>
        <td> <%= d.city %></td>
        <td> <%= d.state %></td> 
        <td> <a href="/dojos/<%= d.id %>">Show</a> || <a href="/dojos/<%= d.id %>/edit">Edit</a>|| <a href="/dojos/<%= d.id %>" data-method="delete">Destroy</a></td>
    </tbody>
    <% end %>
</table>
<br>

<a href="/dojos/new">New Dojo</a>
